CLIENT_GATEWAY_PORT=3000



PAYMENT_MS_PORT=3003

STRIPE_SECRET=

STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success

#https://dashboard.stripe.com/acct_1UL5AEDwEmSJ6DpR/test/workbench/webhooks/we_1ULGamDwEmSJ6DpRNRJSx6HI/events
#Este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=

#MongoDB connection string
DATABASE_URL=


JWT_SECRET=


#https://console.neon.tech/app/org-empty-term-00999313/projects?modal=create_project
ORDERS_DATABASE_URL